* {
    margin: 0%;
    padding: 0%;
}

:root {
    --primary-text-color: #3ddc84;
    --btn-bg-01: #30ce6f;
    --btn-bg-02: #68b587;
    --btn-color: #166837;
}

/* SECTION 01 */
.section-01 {
    background-color: #0f1210;
}

.section-01 header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-01 header .btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section-01 header h1 {
    text-align: center;
    color: #ffffff;
    font-size: 10vw;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'Press Start 2P', cursive;
    padding-top: 2rem;
}

.section-01 header p {
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-01 header .btns .btn-updates, .section-01 header .btns .btn-videos {
    width: 80%;
    display: inline-block;
    color: var(--btn-color);
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.section-01 header .btn-updates {
    background-color: var(--btn-bg-02);
}

.section-01 header .btn-updates:hover {
    opacity: 0.8;
}

.section-01 header .btn-videos {
    background-color: var(--btn-bg-01);
}

.section-01 header .btn-videos:hover {
    background-color: var(--btn-bg-02);
}

.section-01 .video-container div .video {
    width: 250px;
    height: 150px;
    border: 0.5rem solid #30ce6f;
    background-color: #000000;
    margin: 1rem;

}

.section-01 .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-01 .video-container div p, .section-01 .video-container div h3 {
    text-align: center;
}

.section-01 .video-container div p {
    color: var(--primary-text-color);
    margin-top: 1rem;
}

.section-01 .video-container div h3 {
    color: #ffffff;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.section-01 .video-container {
    margin-top: 2rem;
}

/* END OF SECTION 01 */

/* SECTION 02 */
.section-02 {
    background-color: #17231b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.section-02 img {
    width: 80%;
}

.section-02 h2 {
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 2rem;
}

.section-02 p {
    color: #ffffff;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.section-02 div .btn-read-more {
    width: 80%;
    display: block;
    color: var(--btn-color);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: var(--btn-bg-02);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: auto;
}

.section-02 div .btn-read-more:hover {
    opacity: 0.7;
}

.section-02 img:hover {
    animation: bounce;
    animation-duration: 2s; 
}

.section-02 div .btn-read-more i {
    color: #66b184;
    border-radius: 100%;
    background-color: #1a2a20;
    padding: 0.5rem;
    cursor: pointer;
}

/* END OF SECTION 02 */

/* SECTION 03 */
.section-03 {
    background-color: #17231b;
}

.section-03 .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-03 .carousel .info p {
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.section-03 .carousel .info h3 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 1rem;
}

.section-03 .carousel i {
    color: #1a2a20;
    border-radius: 100%;
    background-color: #66b184;
    padding: 0.5rem;
    cursor: pointer;
}

.section-03 .carousel i:hover {
    opacity: 0.7;
}
/* END OF SECTION 03 */

/* SECTION 04 */
.section-04 {
    background-color: #17231b;
}

.section-04 .summer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-04 .summer img {
    width: 80%;
    margin-top: 2rem;
}

.section-04 h2 {
    color: var(--primary-text-color);
    text-align: center;
    padding-top: 2rem;
}

.section-04 .summer h3, .section-04 .summer p {
    color: #ffffff;
    text-align: center;
    margin-top: 2rem;
}

.section-04 .info-02 .btn-read-more {
    width: 80%;
    display: block;
    color: var(--btn-color);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: var(--btn-bg-02);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: auto;
    margin-top: 2rem;
}

.section-04 .info-02 .btn-read-more:hover {
    opacity: 0.7;
}

.section-04 .summer .info-02 .btn-read-more i {
    color: #66b184;
    border-radius: 100%;
    background-color: #1a2a20;
    padding: 0.5rem;
    cursor: pointer;
}

/* END OF SECTION 04 */

/* SECTION 05 */
.section-05 {
    background-color: #17231b;
}

.section-05 h2 {
    text-align: center;
    color: var(--primary-text-color);
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    padding-top: 2rem;
}

.section-05 .teams .team-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f1210;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.section-05 .teams .team-01 img {
    margin-top: 2rem;
    cursor: pointer;
}

.section-05 .teams .team-01 .members {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-05 .teams .team-01 hr {
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: #68b587;
}

.section-05 .teams .team-01 .btn-champs {
    width: 50%;
    display: block;
    color: var(--primary-text-color);
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
}

.section-05 .teams .team-01 .btn-champs:hover {
    opacity: 0.7;
}

.section-05 .teams .team-01 .btn-videos {
    width: 50%;
    display: block;
    color: var(--btn-color);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: var(--btn-bg-02);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.section-05 .teams .team-01 .btn-videos:hover {
    opacity: 0.7;
}

/* END OF SECTION 05 */

/* SECTION 06 */
.section-06 {
    background-color: #17231b;
}

.section-06 .upcoming {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-06 .upcoming h2 {
    text-align: center;
    color: var(--primary-text-color);
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    padding-top: 2rem;
}

.section-06 .upcoming p {
    text-align: center;
    color: #ffffff;
    width: 80%;
    margin: auto;
    margin-top: 1.5rem;
}

.section-06 .upcoming .btn-view-all {
    width: 50%;
    display: block;
    color: var(--btn-color);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: var(--btn-bg-02);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


.section-06 .upcoming .btn-view-all:hover {
    opacity: 0.7;
}

.section-06 .matches .match-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f1210;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
}

.section-06 .matches .match-01 div h3 {
    text-align: center;
    color: var(--primary-text-color);
    font-family: 'Press Start 2P', cursive;
}

.section-06 .matches .match-01 div p, .section-06 .matches .match-01 div .team-name {
    text-align: center;
    color: #ffffff;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.section-06 .matches .match-01 .vs {
    text-align: center;
    color: #ffffff;
    background-color: #17231b;
    padding: 0.8rem;
    margin-top: 1rem;
}

.section-06 .matches .match-01 img {
    margin-top: 1rem;
}

.section-06 .matches .match-01 .team-name {
    color: var(--primary-text-color);
}
/* END OF SECTION 06 */

/* SECTION 07 */
.section-07 {
    background-color: #0f1210;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.section-07 div {
    width: 50%;
}

.section-07 div h2 {
    text-align: center;
    color: var(--primary-text-color);
    padding: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;

}

.section-07 div p {
    text-align: center;
    color: #ffffff;
}

.section-07 div .btn-our-teams {
    width: 50%;
    display: block;
    color: var(--btn-color);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: var(--btn-bg-02);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section-07 .btn-our-teams:hover {
    opacity: 0.7;
}

.section-07 .info-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17231b;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin-bottom: 2rem;
}

.section-07 .info-profile .name-container .property,
.section-07 .info-profile .player-name-container .property,
.section-07 .info-profile .country-container .property {
    color: var(--primary-text-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-07 .info-profile .btn-view-profile {
    width: 90%;
    display: block;
    color: var(--btn-color);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: var(--btn-bg-02);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.section-07 .info-profile .btn-view-profile:hover {
    opacity: 0.7;
}

.section-07 .info-profile .btn-view-profile i {
    color: #66b184;
    border-radius: 100%;
    background-color: #1a2a20;
    padding: 0.5rem;
    cursor: pointer;
}
/* END OF SECTION 07 */

/* SECTION 08 */
.section-08 {
    background-color: #17231b;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-08 h2 {
    color: var(--primary-text-color);
    text-align: center;
}

.section-08 .icons {
    background-color: #17231b;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 2rem;
}

.section-08 .icons a {
    text-decoration: none;
    background-color: #68b587;
    padding: 0.5rem;
    border-radius: 4px;
    margin: 0.4rem;
}

.section-08 .icons a:hover {
    opacity: 0.7;
}

.section-08 .icons a i {
    color: #0f1210;
}

/* END OF SECTION 08 */